*{
    margin: 0;
}
body{
    font-family: arial;
}
#class1{
    display: grid;
    grid-template-columns:1fr 1fr;
    background-color: #f5f5f5;
    height:35px;
    padding: 0 3% 0 2%;
}

.logos{
    display:flex;
    align-items: center;
}

#nike{
    display:flex;
    align-items: center;
    padding-left:5%;
}

.logos img:hover, #nike:hover{
    opacity: .5;
    cursor:pointer;
}

.logos img{
    padding-left:1%;
}

.nav:hover{
    color:#909090;
    cursor: pointer;
}

#class2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    height:60px;
}
#firstList{
    display:flex;
    justify-content: flex-end;
    align-items: center;
}
#secondList{
    display:flex;
    justify-content: center;
    align-items: center;
}

#firstList li{
    padding: 0 5px;
    font-size: small;
}

#secondList li{
    padding: 0 12px;
    font-size: medium;
}

ul{
    display:flex;
    list-style: none;
    padding:0;
}

#formSec{
    display:flex;
    justify-content: flex-end;
    align-items:center;
    margin-right: 5%
}

#formSec img{
    padding-right: 4%;
}

#formSec form{
    margin-right: 3%;
}

#searchBar{
    height:38px;
    background-color: #f5f5f5;
    border-width: 0;
    border-radius: 60px;
    font-size: large;
    width: 175px;
    display: flex;
    justify-content: flex-end;
    align-items:center;
    margin-right:5%;
}

#searchBar input::placeholder{
    color:lightgray;
    font-size:medium;
}

#box{
    background-color:transparent;
    border-style: none;
    width:75%;
    padding-left: 15px;
}

#searchButton{
    width:18px;
    height: auto;
    margin-left:10px;
}

#searchBar input:focus{
    outline: none;
}

#searchBar form{
    display:flex;
}

#searchBar:hover{
    background-color: #e2e2e2;
}
#class3{
    background-color: #f5f5f5;
    height: 60px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:space-evenly;
}
#sub{
    font-size: small;
    text-decoration: underline;
}